<!DOCTYPE html>
<html lang="en" ng-app="todoApp" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO PRO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="./css/global.css">
    <script src="./js/todo.js"></script>
</head>

<body ng-controller="todoController">

    <h1>Todo List</h1>
    
    <form ng-submit="todoAdd()">
        <input required type="text" ng-model="todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New Item">
    </form>
    <br>
    <div ng-repeat="x in todoList">
        <input type="checkbox" ng-model="x.selected">
        <span ng-bind="x.todoText"
            ng-class="{'done': x.state === 'done', 'delayed': x.state === 'delayed', 'todo': x.state === 'todo'}"></span>
    </div><br />
    <button ng-click="markDone()">Mark as Done</button>
    <button ng-click="markDelayed()">Mark as Delayed</button>
    <button ng-click="remove()">Remove</button>
    <button ng-click="save()">Save</button>
    <button ng-click="load()">Load</button>

    <br />
    <br />
    <table>
        <tr>
            <th>Name</th>
            <th>State</th>
        </tr>
        <tr ng-repeat="x in todoList">
            <td>{{x.todoText}}</td>
            <td>{{x.state}}</td>
                    
        </tr>
    </table>

</body>


</html>